# Configuration file

####################
# block
####################

block {
    # Factorization Machines.
    I:factoryBlockId=2050

    # WrathFire and invisible lamp-air made by WrathLamps
    I:lightAirBlockId=2051

    # Ores and metal blocks mostly
    I:resourceBlockId=2052
}


####################
# client
####################

client {
    # Lets you use the bag from GUIs
    B:anywhereBagSwap=true

    # Lets you open the pocket crafting table from GUIs
    B:anywherePocketCraft=true

    # Show invisible lamp-air
    B:debugLightAir=false

    # If true, notifications are put in the chat log instead in the world
    B:notifyInChat=false

    # 3 keys for: removing (x), cycling (c), balancing (b)
    S:pocketCraftingActionKeys=xcb

    # If false, never use smooth lighting for drawing sculptures
    B:renderAmbientOcclusion=true

    # If true, render barrel info only when nearby
    B:renderBarrelClose=false
    B:renderBarrelItem=true
    B:renderBarrelText=true

    # If false, most TEs won't draw, making everything look broken but possibly improving FPS
    B:renderOtherTileEntities=true
}


####################
# general
####################

general {
    B:addBranding=true

    # work in progress; may be unstable
    B:enableDimensionSlices=false
    I:entityRelightTask=3

    # This disables silver ore generation
    B:generateSilverOre=false

    # The size of silver ore nodes. Between 5 & 35. Default is 25
    I:silverOreNodeSize=25
    I:sliceDimensionID=-7
}


####################
# item
####################

item {
    I:acid=19024
    I:angularSaw=19042
    I:bagOfHolding=19001
    I:barrelEnlarge=19032
    I:battery=19033
    I:chargemeter=19029
    I:coil=19026
    I:darkIron=19008
    I:diamondCuttingHead=19038
    I:diamondShard=19006
    I:fan=19028
    I:heatHole=19046
    I:inverium=19040
    I:itemCraftId=19000
    I:leadIngot=19014
    I:logicMatrix=19044
    I:logicMatrixID=19045
    I:logicMatrixProgrammer=19043
    I:magnet=19025
    I:mechaBouyantBarrel=19021
    I:mechaChasis=19009
    I:mechaChest=19011
    I:mechaCobbleDrive=19022
    I:mechaFoot=19013
    I:mechaHead=19010
    I:mechaLeg=19012
    I:mechaMountedPiston=19023
    I:mechaSpring=19047
    I:mirror=19030
    I:motor=19027
    I:oreCleanGravel=19035
    I:oreCrystal=19037
    I:oreDirtyGravel=19034
    I:oreReduced=19036
    I:pocketCraftingTable=19002
    I:routerEject=19031
    I:routerItemFilter=19016
    I:routerMachineFilter=19017
    I:routerSpeed=19018
    I:routerThorough=19019
    I:routerThroughput=19020
    I:sculptTool=19041
    I:silverIngot=19015
    I:sludge=19039
    I:wandOfCooling=19005
    I:wrathIgniter=19007
}


####################
# server
####################

server {
    # This is a Java Regex to blacklist router access
    S:bannedRouterInventoriesRegex=

    # If false, notifications will be translated by the client
    B:serversideTranslate=true
    B:spreadWrathFire=true
}


