#MLProperties: name (type:default) min:max -- information
#MLProp : allowUpdateCheck (boolean:true) -- Set to true to allow checking for updates for ALL of my mods, false to disable
#
#Sun Mar 10 20:35:45 PDT 2013
allowUpdateCheck=true
