#XyCraft Configuration File


general
{
	#Resolves Id conflicts with any mod loaded before it. **WARNING
	# MAY CAUSE ERRORS IN OLD WORLDS**
	AutoAssign=false
	#Set to false to disable the Machines Expansion. **WARNING
	# MAY CAUSE ERRORS IN OLD WORLDS**
	EnableMachine=true
	#Set to false if 16x textures are desired: Doesn't make a difference currently
	HDTextures=true
	#Set to true if you would like to see Particle FX
	Particles=true
	#0 = Circuit || 1 = Filled || 2 = Box
	highlightId=0
	
	colors
	{
		#The colour of the machine animation. Format 0xRRGGBB or R,G,B (0-255)
		GenericMachineColour=0x0064FF
		#Set to true to see Laira's favorite Xychorium Bricks Texture
		LairaBricks=false
	}
}

machines
{
	blocks=1711
	blocks
	{
		glassViewer=0
		plasmaTorch=1700
		multiBrick=1701
		ironPlate=1702
		multiInterface=1703
		basicMachine=1704
		multiNormal=1707
		multiSoft=1708
		multiGlass=1709
		mockBlock=1710
		fabricator=1711
		multiAir=1715
		multiHard=1716
	}
	items=24400
	items
	{
		materialItems=24400
	}
}

world
{
	blocks=1585
	blocks
	{
		
		aesthetic
		{
			xychoriditeBlocks=1575
			sulfurTorch=1576
			cornStalk=1577
			xychoridite2Blocks=1581
			structureBlock=1582
			xyLight=1583
			xyLightInv=1584
			glassViewer=1585
			henequenPlant=1588
			aluminumTorch=1589
		}
		
		worldGen
		{
			xyOre=210
			quartzCrystal=211
		}
	}
	items=24020
	items
	{
		blueXychorium=24000
		greenXychorium=24001
		redXychorium=24002
		darkXychorium=24003
		lightXychorium=24004
		blueXychoridite=24005
		greenXychoridite=24006
		redXychoridite=24007
		darkXychoridite=24008
		lightXychoridite=24009
		aluminum=24010
		sulfur=24011
		sulfurGoo=24012
		corn=24013
		kernel=24014
		henequenSeeds=24015
		henequenLeaf=24016
		twine=24017
		popcorn=24018
		cornCob=24019
		aluminumFoil=24020
		
		liquid=24200
		liquid
		{
			xyliquid=24200
		}
	}
}
